* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    /* background-color: aqua; */
    /* padding: 0px 0px 0px 50px; */

    /* padding-top: 20px;
    padding-left: 20px; */

    /* padding: 0px 40px; */

    /* margin: 30px 20px 10px 50px; */
    /* margin: 30px 60px; */

    /* border: 5px solid blue; */

    /* border-width: 5px;
    border-style: solid;
    border-color: black blueviolet brown red; */
}

.list {
    display: inline-block;
    /* margin: 10px; */
    /* padding: 10px; */
    /* position: static; */
}

/* positions */

/* #list1 {
    position: absolute;
    top: 0px;
    left: 0px;



} */

/* #menu {
    position: relative;
    background-color: antiquewhite;
} */

/* .container {
    background-color: antiquewhite;
    width: 100%;
    height: 100vh;
    align-content: center;
    padding-left: 50%;

} */

/* .container .noti {
    background-color: red;
    width: 20px;
    border-radius: 50%;
    color: white;
    text-align: center;
    position: absolute;
    top: 174px;
    left: 740px;
}

.parent {
    position: relative;
    width: 400px;
    height: 300px;
} */

/* sticky and fixed */
/* 
#head {
    background-color: aqua;
    width: 100%;
    position: sticky;
    top: 0px;
} */

/* img { */
/* position: fixed; */
/* right: 100px; */
/* bottom: 0px;
    right: 0px; */
/* } */

.container {
    background-color: antiquewhite;
    width: 100%;
    display: flex;
    /* flex-direction: row;
    flex-wrap: wrap; */
    flex-flow: row wrap;
    /* justify-content: space-evenly; */
    justify-content: center;
    gap: 20px;
    /* row-gap: 10px; */
    /* column-gap: 10px; */
    height: 100vh;
    align-items: baseline;
    align-content: center;
}

.box {
    width: 100px;
    height: 100px;
    background-color: blue;
    border: 1px solid red;
    color: white;
    text-align: center;
}