/* * {
    margin: 0;
    padding: 0;
}

h1 {
    background-color: red;
    color: white;
}

#unique {
    background-color: rgb(153, 13, 195);
    color: white;
}

.container h1 {
    background-color: rgb(35, 193, 10);
    color: white;
}

.container~h1 {
    background-color: rgb(229, 30, 176);
    color: white;
} */

#head {
    background-color: rgb(210, 105, 30);
    color: white;
}

.heading {
    background-color: rgba(0, 0, 115, 0.529);
    color: white;
}

h1 {
    background-color: rgba(0, 0, 115, 0.529) !important;
    color: white;
    opacity: 0.5;
}

h1 {
    background-color: orange;
    color: white;
    /* display: inline-block; */
    margin: 10px;
    padding: 10px;
    box-shadow: 2px 3px 1px black;
}

a{
    display: block;
}
div {
    /* width: 100px; */
    height: 100px;
    background-color: aqua;
    overflow: auto  ;
}