/* :root{
    --main-color : rgb(10, 171, 16);
    --padding : 10px 20px ;
}

h1 {
    background-color: var(--main-color);
}


a {
    background-color: var(--main-color);
    padding: var(--padding);
} */

* {
    margin: 0;
    padding: 0;
}

div {
    width: 100px;
    height: 100px;
}


/* z-index */
/* .container {
    display: flex;
    background-color: aqua;
    width: 100%;
    height: 100vh;
}

#box1 {
    background-color: red;
    position: relative;
    left: 100px;
    z-index: 1;
}

#box2 {
    background-color: rgb(20, 12, 173);
    position: relative;
    left: 0px;
    z-index: -1;
}


#box3 {
    background-color: rgb(189, 16, 146);
    position: relative;
    right: 100px;
} */



/* flexbox */

.container {
    display: flex;
    /* flex-direction: column-reverse; */
    background-color: aqua;
    width: 100%;
    height: 100vh;
    color: white;
    /* flex-wrap: wrap;     */
    /* x-axis */
    /* justify-content: space-evenly; */
    justify-content: center;
    gap: 10px;
    /* align-content: start; */

    /* y-axis */
    align-items: start;
}

#box1 {
    background-color: red;
    order: 1;
}

#box2 {
    background-color: rgb(20, 12, 173);
    /* flex-grow: 2; */
    flex-shrink: 5;
}


#box3 {
    background-color: rgb(189, 16, 146);        
    order: -1;
    align-self: end;
}